/*Home.js*/

.main-body{
    height:100vh;
    width:100vw;
    background-color:#dfe6e9;
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    display:flex;
}