/*Home.js*/

.main-body{
    height:100vh;
    width:100vw;
    background-color:#dfe6e9;
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    display:flex;
}
/* LIBRARY */
.library-body{
    width:94%;
    height:90%;
    padding:3%;
    display:flex;
    flex-wrap:wrap;
    overflow-y: auto;
    justify-content: space-between;

}
.playcard{
    width:15%;
    height:35%;
}